.main-header {
  width: 100%;
  height: 3.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 0px 1.5rem;
  background-color: rgb(224, 224, 224);
}

main {
  margin-top: 4rem;
}
/* 
@media (min-width: 1050px) {
  .main-header {
    justify-content: space-between;
  }
} */
