.about-container {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -40px auto 0px;
  background-color: #1e2022;
}

.about-me-screens {
  width: 40rem;
}
.about-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin-left: -60px;
}
.about-me-title {

  color: #f35728;
 width: 100%;
 
  font-weight: 300;
  font-size: 3.5rem;
  transform: rotate(270deg);
}
.about-me-subtitle {
  width: 35rem;
margin-left: -60px;
  color: #b4b4b4;
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  text-indent: 20px;
}
@media (max-width: 700px) {

  .about-me-screens {
    width: 18rem;
  }
  .about-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 18rem;
    margin-left: -60px;
  }
  .about-me-title {
    margin: -60px -40px 0 0px;
   
  
    width: 100%;
    font-weight: 300;
    font-size: 1.7rem;
    transform: rotate(270deg);
  }
  .about-me-subtitle {
    width: 20rem;
    font-size: 0.71rem;
    margin-left: 0px;
  }
}
