.about-container {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -18px auto 0px;
  background-color: #1e2022;
}

.about-me-screens {
  width: 40rem;
}
.about-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin-left: -60px;
}
.about-me-title {
  margin-right: -40px;
  color: #f35728;
  height: 2rem;
  width: 100%;
  font-weight: 300;
  font-size: 3.5rem;
  transform: rotate(270deg);
}
.about-me-subtitle {
  width: 35rem;

  color: #575757;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-indent: 20px;
}
@media (max-width: 700px) {
  .about-container {
    margin: -12px auto 0px;
  }
  .about-me-screens {
    width: 20rem;
  }
  .about-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-left: -30px;
  }
  .about-me-title {
    margin-right: -50px;
   
    height: 4rem;
    width: 100%;
    font-weight: 300;
    font-size: 1.7rem;
    transform: rotate(270deg);
  }
  .about-me-subtitle {
    width: 35rem;

    color: #575757;
    font-family: "Lora", serif;
    font-size: 0.8rem;
    text-indent: 20px;
  }
}
