.hero-parent-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.my-img {
  max-width: 100%;
  animation: moveInRight 1s ease-in;
}

.typewriter {
  animation: moveInLeft 1s ease-in;
}
.type-h1 {
  font-family: "Poppins", sans-serif;
  margin: auto;
  color: #52616b;

  font-weight: 900;
  font-size: 7rem;
}
.floating-text {
  color: #f35728;
  font-family: "Lora", serif;

  font-weight: 900;

  font-size: 1.8rem;
}

@media (max-width: 700px) {
  .my-img {
    margin: auto;
  }
  .typewriter {
    margin: auto;

    animation: moveInLeft 1s ease-in;
  }
  .type-h1 {
    font-size: 3rem;
  }
  .floating-text {
    color: #f35728;

    font-weight: 900;

    font-size: 1rem;
  }
}
