.hero-parent-div {
  width: 100%;
  
  display: flex;
  justify-content: center;

  flex-direction: row;
}
.my-img {
  margin: 3rem 0px 0px;
  max-width: 100%;
  animation: moveInLeft 1s ease-in;
}

.typewriter {
  z-index: -1;
  margin: 6rem 0px 0px -70px;
  width: 18.5rem;
  
}
.type-h1 {
  font-family: "Poppins", sans-serif;
  margin:  auto;
  color: #52616b;
  letter-spacing: 1px; /* Adjust as needed */
  font-weight: 900;
  font-size: 7.1rem;
  animation: moveInRight 1s ease-in;
}
.floating-text {
  color: #f35728;
  font-family: "Lora", serif;
  overflow: hidden;
  border-right: 0.15em solid #1e2022; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  text-indent: 10px;
  font-weight: 900;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  font-size: 1.6rem;
  /* animation: moveInBottom 1s ease-in; */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2d2d2d;
  }
}
@media (max-width: 700px) {
  .my-img {
    margin: 3rem 0px 0px 20px;
    max-width: 50%;
  }

  .typewriter {
    margin: 5.5rem 0px 0px -55px;
    width: 15rem;
  }
  .type-h1 {
    font-size: 4.8rem;
    animation: none;
  }
  .floating-text {
    /* margin: -20px 0px 20px -10px; */
    text-indent: 0px;
    width: 13.5rem;
    font-size: 1.1rem;
  }
}

